@import url("reset.css");
@import url(layouts.css);
@import url(utils.css);
@import url(styles.css);

/* 
    CODE CREDITS

    reset compiled from Andy Bell's A (more) modern CSS Reset - https://piccalil.li/blog/a-more-modern-css-reset/
    and Kevin Powells Reset - https://codepen.io/kevinpowell/pres/GRVoWOe?editors=0100

    container followed by My top 5 most popular front-end tips by Kevin Powell - https://www.youtube.com/watch?v=DGOeyJjq80g&t=1132s

    screen reader only class gotten from - https://www.accessibility-developer-guide.com/examples/hiding-elements/visually/
    
*/